body {
    font-family: Roboto, sans-serif;

}
/*style Css do header - Inicio*/ 
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
.container .content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container .content header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1024px;
	padding: 0 20px;
}
.container .content header .menu ul{
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	list-style-type: none;
	font-size: 1.2em;
}
.container .content header .menu ul li{
	margin-right: 15px;
	color: #005973;
	margin-left: 15px;
}
.container .content header .number{
	font-weight: 700;
}
.container .content header .logo img{
	width: 120px;
	margin: 0;
	padding: 0;
}

.container .content header .number{
	font-weight: 700;
	font-size: 1.5em;
}
/*style Css do header - Fim*/

/*style css do conteúdo principal - Inicio*/

.container .company-container{
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}
.container .company-container .info{
	font-size: 3.2em;
	/*font-weight: 700;*/
}
.container .company-container .info h6{
	margin-bottom: 5px;
	margin-top: 10px; 
}
.container .company-container .info #noticia{
	width: 75%;
	font-size: 0.3em;
	font-weight: 300;
}
.container .company-container .info .actions{
	width: 15%;
	height: 5%;
	margin-left: 15px;
	margin-bottom: 20px;
	
}
.container .company-container .info .actions button{
	width: 85px;
	height: 50px;
	border:none;
	font-size: 0.5em;
	color: white;
	background-color: #005973
}

.container .company-container .video iframe{
	width: 500px;
	height: 350px;
}

/*style css do conteúdo principal - Fim*/

/*style css artigos - inicio*/

.artigos{
	width: 100%;
	display: flex;
	flex-direction: row;
} 

.artigos .noticias{
	display: flex;
	flex-direction: column;
	padding: 10px;
	
}

/*style css artigo - Fim*/

/*style css advantages*/

.company-advantages{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.company-advantages .advantages_cards{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

.company-advantages .advantages{
	width: 48%;
	height: 32%;
	display: flex;
	flex-direction: row;
	margin-left: 15px;
	margin-bottom: 6px;
}
.company-advantages .dolor{
	width: 25%;
	height: 325px;
	background-color: gray;
	text-align: center;
	align-items: center;
}
.company-advantages .dolor h2{
	background-color: black;
	color: white;
	width: 78%;
	margin-left: 15px;
	margin-top: 15px;
}

.company-advantages .advantages img{
	width: 100px;
	height: 100px;
	margin: auto 5px;
}
.company-advantages .advantages .description{
	margin-left: 5px;	

}
.company-advantages .advantages .description h2{
	margin:0px;
}

/*style css advantages - Fim*/

/*style css cases - Inicio*/
.our-cases{
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-auto-flow: row;	
	background: gray;
	padding: 25px;	
	text-align: center;
}
.our-cases h2{
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 2.2em;
}
.our-cases .info{
	width: 100%;
	background-color:  #333E4A;
	display: flex;
	margin-bottom: 30px;
}
.our-cases .info .descripition_cases{
	width: 30%;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.our-cases .info p{
	width: 55%;
	color: white;
	
}
.our-cases .info h4{
	width: 45%;
	background-color: black;
	color: white;
	font-size: 1.4em;
	margin: 4px;
}
.our-cases .info .cases{
	width: 50%;
	padding: 15px;
	justify-content: flex-end;
}

.our-cases .cases-one img{
	width: 105px;
	height: 105px;
	margin:20px 5px;
}
.our-cases .cases-two img{
	width: 105px;
	height: 105px;
	margin:20px 5px;
	margin-bottom: 5px;
}
.steps{
	margin-bottom: 65px;
	color: white;
}

/*style css cases - Fim*/

/*style css contato - inicio*/
.contatos{
	width: 100%;
	background-color:  #333E4A;
	margin: 0;
}

.contatos .title_form{
	width: 100%;
	align-items: center;

}

.contatos .formulario{
	display: flex;
	align-items: center;
}
.form_container{
	text-align: center;
	width: 100%;

}

.contatos .formulario form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form input{
	width: 15%;
	height: 35px;
	border:none;
	border-radius: 2px;
	margin: 5px;
}

form textarea{
	width: 15%;
	height: 150px;
	border:none;
	border-radius: 2px;
	margin-top: 5px;
}
.title_form h2{
	font-size: 2.5em;
	color: white;
}
.title_form p{
	font-size: 1.4em;
	color: white;
}
form button{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 15%;
	height: 35px;
	border:none;
	border-radius: 5px;
	font-size: 1.5em;
	color: white;
	background-color: #005973 
}

/*style ccs contato - Fim*/

/*style css footer - Inicio*/

footer .footer ul{
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	list-style-type: none;
	font-size: 1.2em;
	color: #005973;
}

/*style css footer - Fim*/

/* unvisited link */
a:link {
  color: #005973;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #005973;

 }

/* mouse over link */
a:hover {
  color: white;
  background-color: #005973;
}

/* selected link */
a:active {
  color: white;
} 